body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    padding: 50px;
  }
  .container-header {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    border-radius: 30px;
    box-shadow: #0000001a 0 0 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
  }
  
  .profile-header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .profile-header div {
    line-height: 1.5;
  }
  
  h1 {
    margin: 0;
    margin-bottom: 1px;
    font-size: 38px;
  }

  h2 {
    justify-content: center;
    padding: 10px 20px; 
    margin: 0 auto 30px auto; 
    margin-bottom: 10px;
    border-radius: 20px;
    width: fit-content; 
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgb(180, 180, 180);
  }
  
  p {
    margin: 0px;
    color: #7e7e7e;
    line-height: 30px;
    font-size: 17px;
  }
  p2 {
    margin: 0;
    font-size: 14px;
    color: #464646;
  }
  li {
    margin: 0;
    color: #7e7e7e;
    font-size: 17px;
  }
  
.profile-header .social-icons {
    margin-top: 10px;
  }
  
  .social-icons {
    align-self:self-end;
  }
  
  .social-icons a {
    margin-right: 5px;
    text-decoration: none;
    color: #525252;
  }

  .education-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .education-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .education-details {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust spacing as needed */
  }
  
  .education-details h3,
  .education-details p2 {
    line-height: 30px;
    margin: 0;
    max-width: 270px;
  }
  
  .education-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 30px;
  }

  /* Navigation styles */
  nav {
    display: flex;
    justify-content: center; /* Center the navigation links */
    padding: 0px 0px; /* Add padding to the navigation bar */
    margin: 0 auto 30px auto; /* Center the navigation bar horizontally */
    background-color: #ffffff;
    border-radius: 20px;
    width: fit-content; /* Make the width fit the content */
    box-shadow: #0000001a 0 0 10px;
    margin-top: 10px;
  }
  nav a {
    padding: 10px; /* Pad the text to center it */
    text-decoration: none;
    color: #6d6d6d;
  }
  nav a.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(219, 219, 219);
    border-radius: 50px;
  }
  nav a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .content-section {
    display: none;
  }
  .active-section {
    display: block;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  /* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-dot.active, .slideshow-dot:hover {
  background-color: #717171;
}

caption {
  text-align: center;
  color: #7e7e7e;
  font-size: 17px;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#profile-container {
  position: relative;
  display: inline-block; /* Ensure the container fits the image */
}

#pfp {
  position: relative;
  display: block; /* Ensure the image is treated as a block element */
}

.speech-bubble {
  position: absolute;
  top: 100%; /* Position it right below the profile picture */
  left: 20%; /* Align it to the left of the profile picture */
  display: inline-block;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 10px;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align:righjt;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ebebeb transparent;
}
